<body>
    <h1> Facture de Reservation </h1>
    <ul>
       
         <li>   nom : {{nomprenom}}</li>
         <li>   prix : {{offre.prix}}</li>
         <li>   places : {{nbplaces}}</li>
         <li>   total : {{total}}</li>
    </ul>   
           
</body>